@import "../Shared/Shared.scss";

.nav-container {
  background: transparent;
  color: $whiteTextColour;
  font-family: $bodyFont;
}

.nav-logo {
  display: flex;
  margin-left: 8rem;
  margin-right: 4rem;
}

.nav-wrapper {
  display: flex;
}

.nav-link-container {
  color: $whiteTextColour;
}

.nav-btns-container {
  margin-right: 8rem;
  margin-left: auto;
}

.signup-btn {
  color: $btnRedColour;
}

.mobile-nav {
  margin-right: 8rem;
  margin-left: auto;
}

@media (max-width: 375px) {
  .nav-logo {
    margin-left: 2rem;
    margin-right: auto;
  }

  .mobile-nav {
    margin-right: 2rem;
    margin-left: auto;
  }
}
