@import "../Shared/Shared.scss";

.footer-container {
  background-color: $footerDarkGrey;
  color: $whiteTextColour;
  border-radius: 0 5rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2rem 8rem;
}

.footer-links {
  bottom: 1rem;
}

.footer-logo {
  cursor: pointer;
}

.col-title {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.item-container {
  display: flex;
  flex-direction: column;
}

.col-items {
  display: inline-block;
  cursor: pointer;
  color: $footerTextColour;
  margin-bottom: 0.5rem;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 375px) {
  .footer-container{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-logo{
    margin-bottom: 1rem;
  }
  .col-title{
    margin-top: 3rem;
  }
}