.nav-hero-container {
  background-image: url("../../StartingFiles/images/bg-pattern-intro-desktop.svg"),
    linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position: 28% 51%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-radius: 0 0 0 5rem;
}

.hero-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.hero-header {
  p {
    letter-spacing: -3px;
  }
}

.hero-sub {
  margin-bottom: 3rem;
}
