@import "../Shared/Shared.scss";

.nav-hero-container {
  background-image: url("../../StartingFiles/images/bg-pattern-intro-desktop.svg"),
    linear-gradient(to right, $heroLightRed, $heroRed);
  background-position: 28% 51%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-radius: 0 0 0 5rem;
  color: $whiteTextColour;
  font-family: $titleFont;
}

.hero-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.hero-header {
  p {
    letter-spacing: -3px;
  }
}

.hero-sub {
  margin-bottom: 3rem;
  color: hsl(240, 2%, 79%);
}

.start-btn {
  color: $btnlightRedColour;
}
