@import "../Shared/Shared.scss";

.nav-hero-container {
  background-image: url("../../StartingFiles/images/bg-pattern-intro-desktop.svg"),
    linear-gradient(to right, $heroLightRed, $heroRed);
  background-position: 28% 51%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-radius: 0 0 0 5rem;
  color: $whiteTextColour;
  font-family: $titleFont;
}

.hero-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.hero-header {
  font-size: 68px;
  font-weight: 500;
  p {
    letter-spacing: -3px;
  }
}

.hero-sub {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3rem;
  color: $subTextColour;
}

.start-btn {
  color: $btnlightRedColour;
}

@media (max-width: 880px) {
  .nav-hero-container {
    background-size: 350%;
    background-position: 35% 35%;
  }

  .hero-container {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-header {
    font-size: 40px;
    font-weight: 500;

    margin-top: 2rem;
  }

  .hero-sub {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
  }
}
