@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

/* Styling Set*/
:root {
  --main-bg-color: #0b0d17;
  --main-text-color: #d0d6f9;
  --main-title-color: #fff;
}

h1,
h2,
h3,
h4,
.sub1 {
  color: var(--main-title-color);
  font-family: "Bellefair", serif;
}

h5,
.sub2,
.nav-links,
p {
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  font-size: 150px;
  font-weight: 400;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

.nav-links {
  letter-spacing: 2.7px;
}

.sub1 {
  font-size: 28px;
}

h5 {
  font-size: 28px;
  letter-spacing: 4.75px;
  color: var(--main-text-color);
}

.sub2 {
  font-size: 14px;
  letter-spacing: 2.35px;
  color: var(--main-title-color);
}

p {
  font-size: 18px;
  color: var(--main-title-color);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */
header {
  display: flex;
  width: 100%;
  padding-top: 1rem;
}

.logo {
  width: 50%;
  padding-left: 2rem;
  margin-top: 2rem;
  margin-left: 1rem;
  position: relative;
  /* margin-block-start: 1em;
  margin-block-end: 1em; */
}

.logo hr {
  width: 80%;
  position: absolute;
  border: none;
  border-bottom: 1px solid gray;
  top: 20%;
  right: -4%;
  z-index: 4;
  /* margin-block-start: 0;
  margin-block-end: 0; */
}

.bars-navbar {
  display: none !important;
}

.navbar {
  display: flex !important;
  list-style-type: none;
  width: 60%;
  background-color: #8080803f;
  backdrop-filter: blur(10px);
  /* margin-top: 2rem; */
  padding-inline-start: 0%;
  justify-content: center;
}

.navbar close {
  display: none;
}

.navbar li a {
  display: inline-block;
  color: white;
  margin: 0 2rem;
  padding: 2rem 0;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
  letter-spacing: 2.7px;
}

.navbar span {
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
}

/* Home */
.screen-container {
  /* display: flex; */
  justify-content: space-between;
}

.home-text {
  height: 35%;
  width: 23%;
  margin-top: 15%;
  margin-left: 9%;
  /* margin-bottom: 12%; */
  float: left;
}

.home-text h1 {
  margin: 0;
}

.home-btn {
  float: left;
  height: 274px;
  width: 274px;
  margin-top: 22%;
  margin-left: 43%;
  /* margin-bottom: 12%; */
}
.btn-container {
  height: 100%;
  width: 100%;
}
.btn-explore {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  font-family: "Bellefair", serif;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
}

.btn-hover {
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.1);
  float: left;
  height: 274px;
  width: 274px;
  margin-top: -274px;
  border-radius: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.btn-explore:hover + .btn-hover {
  transform: scale(1.5);
}
