@import "../Shared/Shared.scss";

.midbanner-container {
  background-image: url("../../StartingFiles/images/bg-pattern-circles.svg"),
    linear-gradient(to right, $bannerDarkGrey, $bannerLightGrey);
  background-position: -59% 81%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 25rem;
  align-content: center;
  border-radius: 0 6rem 0 6rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.midbanner-img-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 4rem;
  img {
    position: relative;
    top: 1rem;
  }
}

.midbanner-text-container {
  margin-top: auto;
  margin-bottom: auto;
  .midbanner-text {
    width: 31rem;
  }
}

.midbanner-header {
  margin-bottom: 2rem;
  color: $whiteTextColour;
  font-family: $titleFont;
}

.midbanner-text {
  color: $footerTextColour;
  font-family: $bodyFont;
}
